<header id="header" class="alt">
    <a href='{{ "/" | relative_url }}' class="logo"><strong>{{ site.title | escape }}</strong> <span>{{ site.subtitle | escape }}</span></a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>


<nav id="menu">
    <ul class="links">
        {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="actions vertical">
        <li><a href="#" class="button special fit">Get Started</a></li>
        <li><a href="#" class="button fit">Log In</a></li>
    </ul>
</nav>