---
---


.wrapper
  max-width: calc(1300px - (30px*2))
  max-width: -webkit-calc(1300px - (30px*2))

h3
  border-bottom: 1px solid black
  margin-top: 20px

table
  table-layout: fixed
  width: 100%
  border-collapse: collapse
  th
    border-bottom: 2px solid gray

  tbody
    tr
      border-bottom: 1px solid gray

      td
        padding-top: 10px
        padding-bottom: 10px